extends layouts/layout

block content
	.container-fluid
		.row.text-center
			br
			h1 BFFs Forever :)
			.col-xs-6
				h2.text-center= user.name
				img.thumbnail.img-responsive.center-block(src=user.photo, alt=user.name)
			.col-xs-6
				h2.text-center= friend.name
				img.thumbnail.img-responsive.center-block(src=friend.photo, alt=friend.name)
